*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
#root{
   background: #E5E5E5;
}
.container{
   width: 1140px;
   height: 100vh;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.App{
}